h1{
   font-size: 10px; 
}

#div1{
    background-color: aquamarine;
    width: 5em;
}

#div2{
    background-color: rebeccapurple;
    width: 50px;
}
#span1{
    color: red;
    font-weight: bold;
    background-color: cyan;
}

html{
    font-size: 20px;
    font-family: 'Patua One', cursive;
}
